<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link type="text/css" rel="stylesheet" href="../../css/style.css"/>
	<!--[if IE 6]>
	<script src="../../js/iepng.js" type="text/javascript"></script>
	<script type="text/javascript">
		EvPNG.fix('div, ul, img, li, input, a');
	</script>
	<![endif]-->

	<script type="text/javascript" src="../../js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="../../js/menu.js"></script>

	<script type="text/javascript" src="../../js/lrscroll_1.js"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>

	<!-- 引入样式 -->
	<link rel="stylesheet" href="/css/Element.css">
	<!-- 引入组件库 -->
	<script src="/js/Element.js"></script>
	<script type="text/javascript" src="../../js/n_nav.js"></script>

	<title>尤洪</title>
</head>
<body>
<div id="root">
	<!--Begin Header Begin-->
	<div class="soubg">
		<div class="sou">
			<!--Begin 所在收货地区 Begin-->
			<span class="s_city_b">
        	<span class="fl">送货至：</span>
            <span class="s_city">
            	<span>四川</span>
                <div class="s_city_bg">
                	<div class="s_city_t"></div>
                    <div class="s_city_c">
                    	<h2>请选择所在的收货地区</h2>
                        <table border="0" class="c_tab" style="width:235px; margin-top:10px;" cellspacing="0"
							   cellpadding="0">
                          <tr>
                            <th>A</th>
                            <td class="c_h"><span>安徽</span><span>澳门</span></td>
                          </tr>
                          <tr>
                            <th>B</th>
                            <td class="c_h"><span>北京</span></td>
                          </tr>
                          <tr>
                            <th>C</th>
                            <td class="c_h"><span>重庆</span></td>
                          </tr>
                          <tr>
                            <th>F</th>
                            <td class="c_h"><span>福建</span></td>
                          </tr>
                          <tr>
                            <th>G</th>
                            <td class="c_h"><span>广东</span><span>广西</span><span>贵州</span><span>甘肃</span></td>
                          </tr>
                          <tr>
                            <th>H</th>
                            <td class="c_h"><span>河北</span><span>河南</span><span>黑龙江</span><span>海南</span><span>湖北</span><span>湖南</span></td>
                          </tr>
                          <tr>
                            <th>J</th>
                            <td class="c_h"><span>江苏</span><span>吉林</span><span>江西</span></td>
                          </tr>
                          <tr>
                            <th>L</th>
                            <td class="c_h"><span>辽宁</span></td>
                          </tr>
                          <tr>
                            <th>N</th>
                            <td class="c_h"><span>内蒙古</span><span>宁夏</span></td>
                          </tr>
                          <tr>
                            <th>Q</th>
                            <td class="c_h"><span>青海</span></td>
                          </tr>
                          <tr>
                            <th>S</th>
                            <td class="c_h"><span>上海</span><span>山东</span><span>山西</span><span
									class="c_check">四川</span><span>陕西</span></td>
                          </tr>
                          <tr>
                            <th>T</th>
                            <td class="c_h"><span>台湾</span><span>天津</span></td>
                          </tr>
                          <tr>
                            <th>X</th>
                            <td class="c_h"><span>西藏</span><span>香港</span><span>新疆</span></td>
                          </tr>
                          <tr>
                            <th>Y</th>
                            <td class="c_h"><span>云南</span></td>
                          </tr>
                          <tr>
                            <th>Z</th>
                            <td class="c_h"><span>浙江</span></td>
                          </tr>
                        </table>
                    </div>
                </div>
            </span>
        </span>
			<!--End 所在收货地区 End-->
			<!--End 所在收货地区 End-->
			<span class="fr">
        	<span class="fl" v-if="user.id==undefined">你好，请<a href="../login/Login.html">登录</a>&nbsp;
				<a href="../login/Regist.html" v-if="user.id==undefined" style="color:#ff4e00;">免费注册</a>&nbsp;|&nbsp;
			</span>
				<span class="fl" v-if="user.id>0">
										<el-link class="fl" :href=`../member/Member_User.html?id=${user.id}`>个人中心|&nbsp;</el-link>

					<el-link  class="fl" @click="exitSystem">退出登陆&nbsp;|</el-link>
					<a :href=`../member/Member_UserOrder.html?id=${user.id}`>我的订单</a>&nbsp;|
									欢迎,{{user.userName}}登录&nbsp;|
				</span>
        	<span class="ss">
            	<div class="ss_list">
                	<a href="javascript:void(0)">收藏夹</a>
                    <div class="ss_list_bg">
                    	<div class="s_city_t"></div>
                        <div class="ss_list_c">
                        	<ul>
                       			<li v-if="user.id>0">
									<a :href=`/yimai/member/Member_Collect.html?id=${user.id}`>我的收藏夹</a>
								</li>

                            </ul>
                        </div>
                    </div>     
                </div>
                <div class="ss_list">
                	<a href="javascript:void(0)">客户服务</a>
                    <div class="ss_list_bg">
                    	<div class="s_city_t"></div>
                        <div class="ss_list_c">
                        	<ul>
                            	<li><a href="javascript:void(0)">客户服务</a></li>
                                <li><a href="javascript:void(0)">客户服务</a></li>
                                <li><a href="javascript:void(0)">客户服务</a></li>
                            </ul>
                        </div>
                    </div>    
                </div>
                <div class="ss_list">
                	<a href="javascript:void(0)">网站导航</a>
                    <div class="ss_list_bg">
                    	<div class="s_city_t"></div>
                        <div class="ss_list_c">
                        	<ul>
                            	<li><a href="javascript:void(0)">网站导航</a></li>
                                <li><a href="javascript:void(0)">网站导航</a></li>
                            </ul>
                        </div>
                    </div>    
                </div>
            </span>
            <span class="fl">|&nbsp;关注我们：</span>
            <span class="s_sh"><a href="javascript:void(0)" class="sh1">新浪</a><a href="javascript:void(0)"
																				   class="sh2">微信</a></span>
            <span class="fr">|&nbsp;<a href="javascript:void(0)">手机版&nbsp;<img src="../../images/s_tel.png"
																				  align="absmiddle"/></a></span>
        </span>
		</div>
	</div>
	<div class="top">
		<div class="logo"><a href="../index/Index.html"><img src="../../images/logo.png"/></a></div>
		<div class="search">
			<form>
				<input type="text" v-model="productKeyWord.name" value="" class="s_ipt"/>
				<input type="submit" @click.prevent="getProduct(1,brand.brandName)" value="搜索" class="s_btn"/>
			</form>
			<span class="fl"><a href="javascript:void(0)">咖啡</a><a href="javascript:void(0)">iphone 6S</a><a
					href="javascript:void(0)">新鲜美食</a><a href="javascript:void(0)">蛋糕</a><a
					href="#">日用品</a><a href="javascript:void(0)">连衣裙</a></span>
		</div>
		<div class="i_car">
			<div class="car_t">购物车 [ <span>{{cars.length}}</span> ]</div>
			<div class="car_bg">
				<!--Begin 购物车未登录 Begin-->
				<div class="un_login" v-if="user.id==undefined">还未登录！<a href="../login/Login.html"
																			style="color:#ff4e00;">马上登录</a> 查看购物车！
				</div>
				<!--End 购物车未登录 End-->
				<!--Begin 购物车已登录 Begin-->
				<ul class="cars">
					<li v-for="car in cars" :key="car.id">
						<div class="img"><a href="#"><img :src="getPicPathById(car.productId)" width="58" height="58"/></a>
						</div>
						<div class="name"><a href="#">{{car.productName}}</a></div>
						<div class="price"><font color="#ff4e00">￥{{car.price}}</font> X{{car.count}}</div>
						<!--						<span style="display: none">{{totalPrice = car.count * car.price}}</span>-->
					</li>
				</ul>
				<div class="price_sum" v-if="user.id>0 && cars.length>0">共计&nbsp; <font
						color="#ff4e00">￥</font><span>{{totalPrice}}</span></div>
				<div class="price_a" v-if="user.id>0 && cars.length>0"><a href="../buy_car/BuyCar.html">去购物车结算</a></div>
				<div style="text-align: center" v-if="user.id>0 && cars.length<1">暂无购物车记录~</div>
				<!--End 购物车已登录 End-->
			</div>
		</div>
	</div>
	<!--End Header End-->
	<!--Begin Menu Begin-->
	<div class="menu_bg">
		<div class="menu">
			<!--Begin 商品分类详情 Begin-->
			<!--Begin 商品分类详情 Begin-->
			<div class="nav">
				<div class="nav_t"><a @click="delUrlParam" href="javascript:void(0)">全部商品分类</a></div>
				<div class="leftNav">
					<ul>
						<li v-for="(category,index) in categoryOneList" :key="category.id"
							@mouseenter="getParentId(category.id)"
						>
							<div class="fj">
								<span class="n_img"><span></span><img src="../../images/nav5.png"/></span>
								<span class="fl"
									  @click="getProductByCategoryName1(category.name)">{{category.name}}</span>
							</div><!-- style="top:-160px;" -->
							<div class="zj" >
								<div class="zj_l">
									<div class="zj_l_c" v-for="(cateTwo,index) in categoryTwoList" :key="cateTwo.id">
										<h2 @click="getProductByCategoryName2(cateTwo.name)">{{cateTwo.name}}</h2>
										<a :href=`../catergory/CategoryList.html?product=${JSON.stringify({categoryName3:cateThree.name})}`
										   v-for="(cateThree,index) in categoryThreeList"
										   :key="cateThree.id">{{cateThree.name}}</a>|
									</div>
								</div>
								<div class="zj_r">
									<a href="javascript:void(0)"><img src="../../images/n_img1.jpg" width="236"
																	  height="200"/></a>
									<a href="javascript:void(0)"><img src="../../images/n_img2.jpg" width="236"
																	  height="200"/></a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!--End 商品分类详情 End-->
			<ul class="menu_r">
				<li><a href="../index/Index.html">首页</a></li>
				<li><a href="Food.html">美食</a></li>
				<li><a href="Fresh.html">生鲜</a></li>
				<li><a href="HomeDecoration.html">家居</a></li>
				<li><a href="SuitDress.html">女装</a></li>
				<li><a href="MakeUp.html">美妆</a></li>
				<li><a href="Digital.html">数码</a></li>
				<li><a href="GroupBuying.html">团购</a></li>
			</ul>
			<div class="m_ad">中秋送好礼！</div>
		</div>
	</div>
	<!--End Menu End-->
	<div class="i_bg">
		<div class="postion">
			<span class="fl"><a @click="delUrlParam" href="javascript:void(0)">全部</a> </span>
			<span class="n_ch">
            <span class="fl ">品牌：<font>{{brand.brandName}}</font></span>
            <a href="javascript:void(0)" @click="clearBrand"><img src="../../images/s_close.gif"/></a>
        </span>
		</div>
		<!--Begin 筛选条件 Begin-->
		<div class="content mar_10">
			<table border="0" class="choice" style="width:100%; font-family:'宋体'; margin:0 auto;" cellspacing="0"
				   cellpadding="0">
				<tr valign="top">
					<td width="70">&nbsp; 品牌：</td>
					<td class="td_a">
						<a href="javascript:void(0)" @click="delUrlParam">全部</a>
						<a @click="getProduct(1,brand.brandName)" href="javascript:void(0)"
						   v-for="brand in brandList">{{brand.brandName}}</a>
						<!--						<a href="javascript:void(0)" class="now">香奈儿（Chanel）</a><a-->
				<tr valign="top">
					<td>&nbsp; 价格：</td>
					<td class="td_a"><a href="javascript:void(0)">0-199</a><a href="javascript:void(0)" class="now">200-399</a><a
							href="javascript:void(0)">400-599</a><a
							href="#">600-899</a><a href="javascript:void(0)">900-1299</a><a href="javascript:void(0)">1300-1399</a><a
							href="#">1400以上</a>
					</td>
				</tr>
				<tr>
					<td>&nbsp; 类型：</td>
					<td class="td_a"><a href="javascript:void(0)">女士香水</a><a
							href="javascript:void(0)">男士香水</a><a href="javascript:void(0)">Q版香水</a><a
							href="#">组合套装</a><a href="javascript:void(0)">香体走珠</a><a href="javascript:void(0)">其它</a>
					</td>
				</tr>
				<tr>
					<td>&nbsp; 香型：</td>
					<td class="td_a"><a href="javascript:void(0)">浓香水</a><a
							href="javascript:void(0)">香精Parfum香水</a><a href="javascript:void(0)">淡香精EDP淡香水</a><a
							href="#">香露EDT</a><a href="javascript:void(0)">古龙水</a><a
							href="javascript:void(0)">其它</a></td>
			</table>
		</div>
		<!--End 筛选条件 End-->

		<div class="content mar_20">
			<div class="l_history">
				<div class="his_t">
					<span class="fl">浏览历史</span>
					<span class="fr"><el-button style="background-color: #ff4e00;color: white" size="mini"
												:disabled="historyList.length<1" @click="del">清空</el-button></span>
				</div>
				<ul>
					<li v-for="(historyPro,index) in historyList" :key="historyPro.id"
						@click="goProductDetail(historyPro.id)">
						<!--						<div class="img"><img :src="getPicPathById(product.id)" width="185" height="162" /></div>-->
						<div class="img"><a href="javascript:void(0)"><img :src="getPicPathById(historyPro.id)"
																		   width="185" height="162"/></a>
						</div>
						<div class="name"><a href="javascript:void(0)">{{historyPro.name}}</a></div>
						<div class="price">
							<font>￥<span>{{historyPro.price}}</span></font> &nbsp; 18R
						</div>
					</li>
				</ul>
			</div>
			<div class="l_list">
				<div class="list_t">
            	<span class="fl list_or">
                	<a href="javascript:void(0)" class="now">默认</a>
                    <a href="javascript:void(0)">
                    	<span class="fl">销量</span>                        
                        <span class="i_up">销量从低到高显示</span>
                        <span class="i_down">销量从高到低显示</span>                                                     
                    </a>
                    <a href="javascript:void(0)">
                    	<span class="fl">价格</span>                        
                        <span class="i_up">价格从低到高显示</span>
                        <span class="i_down">价格从高到低显示</span>     
                    </a>
                    <a href="javascript:void(0)">新品</a>
                </span>
					<span class="fr">共发现120件</span>
				</div>
				<div class="list_c">

					<ul class="cate_list">
						<li v-for="product in products" :key="product.id">
							<div class="img" @click="goProductDetail(product.id)"><a href="javascript:void(0)"><img
									:src="getPicPathById(product.id)"
									width="210"
									height="185"/></a>
							</div>
							<div class="price">
								<font>￥<span>{{product.price}}</span></font> &nbsp; 分类:
																		  {{product.categoryName1}}--{{product.categoryName2}}--{{product.categoryName3}}
							</div>
							<!--							<div class="name"><a href="javascript:void(0)" v-html="product.name"></a></div>-->
							<div class="carbg">
								<a href="javascript:void(0)" @click="addCollect(product)" class="ss">收藏</a>
								<!--v-show="!getCollection(product)"-->
								<!--								<a href="javascript:void(0)" @click="addCollect(product)" v-show="getCollection(product)" style="color:#888888; background:url(/images/heart_h.png) no-repeat 10px center;"  class="ss">收藏</a>-->
								<a href="javascript:void(0)" @click="addShopCar(product.id,1)"
								   class="j_car">加入购物车</a>
							</div>
							<div class="name" @click="goProductDetail(product.id)"><a href="javascript:void(0)"
																					  v-html=`【${product.brandName}】&nbsp;&nbsp;${product.name}`></a>
							</div>
							<!--							<div class="carbg" >-->
							<!--								<a href="javascript:void(0)" class="ss">收藏</a>-->
							<!--								<a href="javascript:void(0)" @click="addShopCar(product.id,1)"-->
							<!--								   class="j_car">加入购物车</a>-->
							<!--							</div>-->
						</li>

						<span v-show="products.length<1">暂无数据~</span>
					</ul>

					<!--					<div class="pages">-->
					<el-pagination
							background
							@size-change="handleSizeChange"
							@current-change="handleCurrentChange"
							:current-page="page.currPageNo"
							:page-sizes="[2, 5, 10, 400]"
							:page-size="page.pageSize"
							layout="total, sizes, prev, pager, next, jumper"
							:total="page.totalCount">
					</el-pagination>
					<!--						<a href="javascript:void(0)" class="p_pre">上一页</a><a href="javascript:void(0)" class="cur">1</a><a href="javascript:void(0)">2</a><a-->
					<!--							href="#">3</a>...<a-->
					<!--							href="#">20</a><a href="javascript:void(0)" class="p_pre">下一页</a>-->
					<!--					</div>-->


				</div>
			</div>
		</div>

		<!--Begin Footer Begin -->
		<div class="b_btm_bg bg_color">
			<div class="b_btm">
				<table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;"
					   cellspacing="0" cellpadding="0">
					<tr>
						<td width="72"><img src="../../images/b1.png" width="62" height="62"/></td>
						<td><h2>正品保障</h2>正品行货 放心购买</td>
					</tr>
				</table>
				<table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;"
					   cellspacing="0" cellpadding="0">
					<tr>
						<td width="72"><img src="../../images/b2.png" width="62" height="62"/></td>
						<td><h2>满38包邮</h2>满38包邮 免运费</td>
					</tr>
				</table>
				<table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;"
					   cellspacing="0" cellpadding="0">
					<tr>
						<td width="72"><img src="../../images/b3.png" width="62" height="62"/></td>
						<td><h2>天天低价</h2>天天低价 畅选无忧</td>
					</tr>
				</table>
				<table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;"
					   cellspacing="0" cellpadding="0">
					<tr>
						<td width="72"><img src="../../images/b4.png" width="62" height="62"/></td>
						<td><h2>准时送达</h2>收货时间由你做主</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="b_nav">
			<dl>
				<dt><a href="javascript:void(0)">新手上路</a></dt>
				<dd><a href="javascript:void(0)">售后流程</a></dd>
				<dd><a href="javascript:void(0)">购物流程</a></dd>
				<dd><a href="javascript:void(0)">订购方式</a></dd>
				<dd><a href="javascript:void(0)">隐私声明</a></dd>
				<dd><a href="javascript:void(0)">推荐分享说明</a></dd>
			</dl>
			<dl>
				<dt><a href="javascript:void(0)">配送与支付</a></dt>
				<dd><a href="javascript:void(0)">货到付款区域</a></dd>
				<dd><a href="javascript:void(0)">配送支付查询</a></dd>
				<dd><a href="javascript:void(0)">支付方式说明</a></dd>
			</dl>
			<dl>
				<dt><a href="javascript:void(0)">会员中心</a></dt>
				<dd><a href="javascript:void(0)">资金管理</a></dd>
				<dd><a href="javascript:void(0)">我的收藏</a></dd>
				<dd><a href="javascript:void(0)">我的订单</a></dd>
			</dl>
			<dl>
				<dt><a href="javascript:void(0)">服务保证</a></dt>
				<dd><a href="javascript:void(0)">退换货原则</a></dd>
				<dd><a href="javascript:void(0)">售后服务保证</a></dd>
				<dd><a href="javascript:void(0)">产品质量保证</a></dd>
			</dl>
			<dl>
				<dt><a href="javascript:void(0)">联系我们</a></dt>
				<dd><a href="javascript:void(0)">网站故障报告</a></dd>
				<dd><a href="javascript:void(0)">购物咨询</a></dd>
				<dd><a href="javascript:void(0)">投诉与建议</a></dd>
			</dl>
			<div class="b_tel_bg">
				<a href="javascript:void(0)" class="b_sh1">新浪微博</a>
				<a href="javascript:void(0)" class="b_sh2">腾讯微博</a>
				<p>
					服务热线：<br/>
					<span>400-123-4567</span>
				</p>
			</div>
			<div class="b_er">
				<div class="b_er_c"><img src="../../images/er.gif" width="118" height="118"/></div>
				<img src="../../images/ss.png"/>
			</div>
		</div>
		<div class="btmbg">
			<div class="btm">
				备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com Copyright © 2015-2018 尤洪商城网 All Rights
				Reserved.
				复制必究 , Technical Support: Dgg Group <br/>
				<img src="../../images/b_1.gif" width="98" height="33"/><img src="../../images/b_2.gif" width="98"
																			 height="33"/><img
					src="../../images/b_3.gif"
					width="98" height="33"/><img
					src="../../images/b_4.gif" width="98" height="33"/><img src="../../images/b_5.gif" width="98"
																			height="33"/><img src="../../images/b_6.gif"
																							  width="98" height="33"/>
			</div>
		</div>
		<!--End Footer End -->
	</div>
</div>
</body>
<style scoped lang="scss">
	.leftNav ul li:hover {
		width: 211px;
		text-decoration: none;
		height: 40px;
		line-height: 40px;
		background-color: #FFF;
		color: #ff4e00;
		z-index: 80;

		.zj {
			display: block;
			position: absolute;
		}
	}
	.el-pagination.is-background .el-pager li:hover {
		　　color: #ff4e00;
	}
	.el-pagination.is-background .el-pager li:not(.disabled):hover {
		　　color: #ff4e00;
	}
	.el-pagination.is-background .el-pager li:not(.disabled).active:hover {
		　　background-color: #ff4e00;
	}
	.el-pagination.is-background .el-pager li:not(.disabled).active {
		background-color: #ff4e00;   // 进行修改背景
	}
</style>

<script src="../../js/axios.js"></script>
<script src="../../utils/parseCookie.js"></script>

<script type="module">
	import {getProductByCondition} from '../../api/product.js';
	import {addShopCar, checkShopIsExit} from '../../api/shoppingCar.js';
	import {getShopCarList} from '../../api/shoppingCar.js';
	import {getBrandList} from '../../api/brand.js';
	import {addCollection} from "../../api/collect.js";
	import {getHistoryList, delAll} from "../../api/history.js";
	import {exitSystem, getUser} from "../../api/user.js";
	import {getCategoryOneList, getCategoryList} from '../../api/category.js';


	new Vue({
		el: '#root',
		data() {
			return {
				brand: {
					brandName: 'ff',
				},
				cars: [],
				shopCar: {},
				user: {},
				productKeyWord: {
					name: '',
					categoryName1: '',
					categoryName2: '',
					categoryName3: '',
					brandName: '',
				},
				page: {
					pageSize: 5,
				},
				products: [],
				isAddShopCar: false,
				isCollect: false,
				carAndCollectStyle: "style:'color: #ff4e00;'",
				brandList: [],
				collectList: [],
				historyList: [],
				categoryOneList: [],
				categoryTwoList: [],
				categoryThreeList: [],
			}
		},
		computed: {
			totalPrice() {
				let totalPrice = 0;
				for (let i = 0; i < this.cars.length; i++) {
					totalPrice += this.cars[i].price * this.cars[i].count;
				}
				return totalPrice;
			},
		},
		methods: {
			async getCategoryOneList() {
				let repsonse = await getCategoryOneList();
				this.categoryOneList = repsonse.data
			},
			async getCategoryList(id) {
				let repsonse = await getCategoryList(id);
				this.categoryTwoList = repsonse.data;
				if (this.categoryTwoList.length > 0) {
					await this.getCategoryList2(this.categoryTwoList[0].id);
				}
			},
			getParentId(id) {
				this.getCategoryList(id);
			},
			async getCategoryList2(id) {
				let repsonse = await getCategoryList(id);
				this.categoryThreeList = repsonse.data;
			},
			async getProduct(currPageNo, brandName) {
				this.page.currPageNo = currPageNo;
				if (brandName == undefined) {
					brandName = ''
				}
				this.brand.brandName = brandName;
				const {data} = await getProductByCondition(this.productKeyWord, this.brand, this.page);
				console.log(data);
				this.products = data.products;
				this.page = data.page;
			},
			getPicPathById(id) {
				return "http://localhost:5173/nginx/product/downloadProductImg?id=" + id;
			},
			handleSizeChange(val) {
				this.page.pageSize = val;
				this.getProduct(this.page.currPageNo, this.brand.brandName);
			},
			handleCurrentChange(val) {
				this.page.currPageNo = val;
				this.getProduct(this.page.currPageNo, this.brand.brandName);
			},
			async checkShopIsExit(shopCar) {
				const {code} = await checkShopIsExit(shopCar);
				if (code == "200") {
					return true;
				}
				return false;
			},
			async addShopCar(productId, count) {
				this.shopCar.productId = productId;
				this.shopCar.count = count;
				this.shopCar.userId = this.user.id;
				if (!await this.checkShopIsExit(this.shopCar)) {
					this.$message.error("已加入购物车!");
					return;
				}
				const {code} = await addShopCar(this.shopCar);
				if (code == "200") {
					this.isAddShopCar = true;
					this.$message({
						message: '加入购物车成功!',
						type: 'success',
						center: true,
					});
					await this.getShopCarList();

				}
			},
			async getShopCarList() {
				this.shopCar.userId = this.user.id
				const {data} = await getShopCarList(this.shopCar);
				this.cars = data;
			},
			async getBrandList() {
				const {data} = await getBrandList();
				this.brandList = data;
			},
			clearBrand() {
				this.brand.brandName = '';
			},
			goProductDetail(id) {
				window.location.href = '../product/Product.html?id=' + id;
			},
			addCollect(product) {
				this.addCollection(product);
			},
			async delUrlParam() {
				this.productKeyWord = {};
				await this.getProduct(1);
			},
			async addCollection(product) {
				let data = await addCollection(product,this.user);
				if (data.code == "200") {
					this.$message({
						message: '加入收藏成功!',
						type: 'success',
						center: true,
					});
				} else {
					this.$message.error("已加入收藏!")
				}
			},
			isCollection(product) {
				this.getCollection(product);
				return this.isCollect;
			},
			getCollection(product) {
				let that = this;
				axios.post("/nginx/collect/getCollection", {product: product}).then(function (resp) {
					let msg = resp.data;
					if (msg.code == "200") {
						that.isCollect = true;
						return;
					} else {
						that.isCollect = false;
						return;
					}
				})
				return this.isCollect;
			},
			async getHistoryList() {
				let data = await getHistoryList(this.user);
				this.historyList = data.data;
				this.$forceUpdate();
			},
			async exitSystem() {
				if (confirm("确认退出登录吗?")) {
					const {code} = await exitSystem();
					if (code == "200") {
						// window.location.href = "../login/Login.html"
						window.history.replaceState(null, "", "../login/Login.html");
						window.history.go(0)
						this.user = {};

					}
				}
			},
			del() {
				if (confirm("确认清空历史记录吗？")) {
					this.delAll();
				}
			},
			async delAll() {
				let {code} = await delAll(this.user);
				await this.getHistoryList();
			},
			getProductByCategoryName2(name) {
				window.location.href = `../catergory/CategoryList.html?product=${JSON.stringify({categoryName2: name})}`;
			},
			getProductByCategoryName1(name) {
				window.location.href = `../catergory/CategoryList.html?product=${JSON.stringify({categoryName1: name})}`;
			},
			async getUser() {
				const {data} = await getUser(this.user);
				this.user = data;
			}

		},

		async mounted() {
			this.user = {};
			let roleId = parseCookie("roleId");
			let loginName = parseCookie("loginName");
			if (loginName != null && loginName != '') {
				this.user.loginName = loginName;
				await this.getUser();
			}
			await this.getBrandList();
			if (!isNaN(roleId) || roleId > 0) {
				await this.getShopCarList();
				await this.getHistoryList();
				await this.getCategoryOneList();
				this.productKeyWord.name = decodeURIComponent(window.location.search.substring(6))
				var query = window.location.search;
				if (query != "") {
					query = decodeURI(query);
					var productKeyWord = query.split('=')[1];
					productKeyWord = productKeyWord.replace(/%3A/g, ':');
					this.productKeyWord = JSON.parse(productKeyWord);
				}
				await this.getProduct(1);
			}


		},
	})
</script>

<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
</html>
