<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body>
<div id="root">
<ul>
    <li v-for="(news,index) in newsList" :key="news.id">
        <span v-if="index % 2==0">[ 特惠 ]</span>
        <span v-else>[ 公告 ]</span>
        <a :href="'newsContent.html?id='+news.id">{{news.title}}</a>
    </li>
</ul>
<a href="javascript:void(0)" @click="getNewsListBy(1)">首页</a>
<a href="javascript:void(0)" @click="previous" v-if="page.currPageNo>1">上一页</a>
<a href="javascript:void(0)" @click="next" v-if="page.currPageNo<page.totalPage">下一页</a>
<a href="javascript:void(0)" @click="last">尾页</a>
</div>
</body>
<script type="module">
    import  {getNewsList} from '../../api/news.js';
    const vm = new Vue({
        el:"#root",
        data(){
            return{
                newsList:[],
                page:{},
            }
        },
        mounted:function (){
            this.getNewsListBy(1);
        },
        methods:{
            async getNewsListBy(currPageNo){
                let response = await getNewsList(currPageNo);
                console.log(response);
                this.newsList = response.data.newsList;
                this.page = response.data.page;
            },
            previous(){
                this.getNewsListBy(this.page.currPageNo-1);
            },
            next(){
                this.getNewsListBy(this.page.currPageNo+1);
            },
            last(){
                this.getNewsListBy(this.page.totalPage);
            }
        }
    })
</script>
</html>