<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="" lang="en">

<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="../../css/style.css"/>

	<script type="text/javascript" src="../../js/jquery-1.11.1.min_044d0927.js"></script>
	<script type="text/javascript" src="../../js/jquery.bxslider_e88acd1b.js"></script>
	<script type="text/javascript" src="../../js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="../../js/menu.js"></script>
	<script type="text/javascript" src="../../js/select.js"></script>
	<script type="text/javascript" src="../../js/lrscroll.js"></script>
	<script type="text/javascript" src="../../js/iban.js"></script>
	<script type="text/javascript" src="../../js/fban.js"></script>
	<script type="text/javascript" src="../../js/f_ban.js"></script>
	<script type="text/javascript" src="../../js/mban.js"></script>
	<script type="text/javascript" src="../../js/bban.js"></script>
	<script type="text/javascript" src="../../js/hban.js"></script>
	<script type="text/javascript" src="../../js/tban.js"></script>
	<script type="text/javascript" src="../../js/lrscroll_1.js"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<!--	<script type="text/javascript" src="../../js/Element.js"></script>-->
	<!-- 引入样式 -->
	<link rel="stylesheet" href="/css/Element.css">
	<!-- 引入组件库 -->
	<script src="/js/Element.js"></script>

	<title>尤洪</title>
	<style>
		#verifyCodeMsg {
			position: absolute;
		}
	</style>
</head>

<body>
<div id="app">
	<!--Begin Header Begin-->
	<div class="soubg">
		<div class="sou">
				<span class="fr">
					<span class="fl">你好，请<a href="Login.html">登录</a>&nbsp; <a href="Regist.html"
																				   style="color:#ff4e00;">免费注册</a>&nbsp; </span>
					<span class="fl">|&nbsp;关注我们：</span>
					<span class="s_sh"><a href="#" class="sh1">新浪</a><a href="#" class="sh2">微信</a></span>
					<span class="fr">|&nbsp;<a href="#">手机版&nbsp;<img src="../../images/s_tel.png"
																		 align="absmiddle"/></a></span>
				</span>
		</div>
	</div>
	<!--End Header End-->
	<!--Begin Login Begin-->
	<div class="log_bg">
		<div class="top">
			<div class="logo"><a href="pages/index/Index.html"><img src="../../images/logo.png"/></a></div>
		</div>
		<div class="regist">
			<div class="log_img"><img src="../../images/l_img.png" width="611" height="425"/></div>
			<div class="reg_c">
				<h2  style="font-size:24px;text-align: center;margin-top: 40px;margin-bottom: 20px">修改</h2>
				<el-form :model="user" status-icon :rules="rules" ref="user" label-width="100px"
						 class="demo-ruleForm" v-cloak style="width: 400px">
					<el-form-item label="用户名" prop="loginName">
						<el-input prefix-icon="el-icon-user" clearable type="text" v-model.trim="user.loginName"
								  autocomplete="off">
						</el-input>
					</el-form-item>
					<el-form-item label="新密码" prop="password">
						<el-input prefix-icon="el-icon-unlock" clearable show-password
								  v-model.trim="user.password" autocomplete="off"></el-input>
					</el-form-item>
					<el-form-item label="确认密码" prop="confirmPass">
						<el-input prefix-icon="el-icon-unlock" clearable show-password
								  v-model.trim="user.confirmPass" autocomplete="off"></el-input>
					</el-form-item>
					<el-form-item label="邮箱" prop="email">
						<el-input type="text" prefix-icon="el-icon-unlock" clearable v-model.trim="user.email"
								  autocomplete="off"></el-input>
					</el-form-item>
					<!--					<el-form-item label="手机" prop="mobile">-->
					<!--						<el-input type="text" prefix-icon="el-icon-unlock" clearable-->
					<!--								  v-model.trim="user.mobile" autocomplete="off"></el-input>-->
					<!--					</el-form-item>-->
					<el-form-item label="验证码" prop="inputVerifyCode">
						<input style="outline: #3a8ee6;height: 25px" type="text" v-model="user.inputVerifyCode" @blur="validateInputVerifyCode"></input>
						<span ref="verifyCodeMsg" id="verifyCodeMsg">{{verifyCodeMsg}}</span>
						<p></p>
						<!--						<el-input type="text" prefix-icon="el-icon-unlock" clearable-->
						<!--								  v-model="user.inputVerifyCode" autocomplete="off"></el-input>-->
						<el-button v-show="showTime" @click="sendVerifyCode('user')" size="mini"
								   :disabled="isDisable" style="background-color: #ff4e00;border: 0;" type="primary">
							发送验证码
						</el-button>
						<div v-show="!showTime">{{getTime}}后获取</div>
					</el-form-item>

					<el-form-item>
						<!-- <el-button type="primary" style="width: 100%" @click="submitForm('user')">登录</el-button> -->
						<input @click.prevent="submitForm('user')" type="submit" value="修改" class="log_btn"/>

					</el-form-item>

					<el-form-item style="float:right;">
						<el-link @click.prevent="toLogin">去登陆</el-link>
					</el-form-item>
				</el-form>
			</div>
		</div>
	</div>
	<!--End Login End-->
	<!--Begin Footer Begin-->
	<div class="btmbg">
		<div class="btm">
			备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com Copyright © 2015-2018 尤洪商城网 All Rights Reserved.
			复制必究 , Technical Support: Dgg Group <br/>
			<img src="../../images/b_1.gif" width="98" height="33"/><img src="../../images/b_2.gif" width="98"
																		 height="33"/><img src="../../images/b_3.gif"
																						   width="98" height="33"/><img
				src="../../images/b_4.gif" width="98" height="33"/><img src="../../images/b_5.gif" width="98"
																		height="33"/><img src="../../images/b_6.gif"
																						  width="98" height="33"/>
		</div>
	</div>
	<!--End Footer End -->
</div>
</body>
<script type="module">
	import {sendCode, checkUser, validateCode, updateUser,getUser} from "../../api/user.js";

	const vm = new Vue({
		el: '#app',
		data() {
			var validateLoginName = async (rule, value, callback) => {
				if (value == '') {
					callback(new Error('请输入账户'))
					return;
				}
				if (value.length < 3 || value.length > 6) {
					callback(new Error('请3-6位账户名'))
					return;
				}
				const regUserAccount = /^[A-Za-z0-9]{3,6}$/;
				if (!regUserAccount.test(value)) {
					callback(new Error('请输入英文或者数字'));
					return;
				}
				const response = await checkUser(this.user.loginName);
				if (response.code == "200") {
					callback(new Error('用户不存在!'))
					return;
				}
				this.user.id = response.data.id;
				this.orginalUser=response.data;
				this.orignalEmail = response.data.email;
				callback();
			};
			var validatePass = (rule, value, callback) => {
				if (value == '') {
					callback(new Error('请再次输入密码'));
				} else if (value.length < 3 || value.length > 6) {
					callback(new Error('请输入3-6位密码'));
				} else {
					callback();
				}
			};
			var validateConfirmPass = (rule, value, callback) => {
				if (value == '') {
					callback(new Error('请再次输入密码'));
				} else if (value.length < 3 || value.length > 6) {
					callback(new Error('请输入3-6位密码'));
				} else if (value != vm.user.password) {
					callback(new Error('请输入一致密码'));
				} else {
					callback();
				}
			};
			var validateEmail = (rule, value, callback) => {
				//验证邮箱的正则表达式
				const regEmail = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
				if (!regEmail.test(value)) {
					//合法的邮箱
					return callback();
				}
				if (this.orignalEmail != value) {
					callback(new Error("邮箱不正确!"));
					return;
				}
				callback();
			};

			return {
				user: {
					loginName: '',
					password: '',
					email: '',
					mobile: '',
					confirmPass: '',
					inputVerifyCode: '',
				},
				orginalUser:{},
				verifyCodeMsg: '*',
				inputVerifyCodeFlag: false,
				orignalEmail: '',
				verifyCode: '',
				showTime: true,
				getTime: 60,
				timer: '',
				isDisable: false,
				rules: {
					loginName: [{
						required: true,
						message: '请输入账户名',
						trigger: 'blur'
					},
						{
							validator: validateLoginName,
							trigger: 'blur',
						}
					],
					password: [{
						required: true,
						message: '请输入密码',
						trigger: 'blur'
					},
						{
							validator: validatePass,
							trigger: 'blur',
						}
					],
					confirmPass: [{
						required: true,
						message: '请输入密码',
						trigger: 'blur'
					},
						{
							validator: validateConfirmPass,
							trigger: 'blur',
						}
					],
					email: [{
						required: true,
						message: '请输入邮箱',
						trigger: 'blur'
					},
						{
							validator: validateEmail,
							trigger: 'blur',
						}
					],

				}
			}
		},
		methods: {
			submitForm(formName) {
				this.validateInputVerifyCode();
				this.$refs[formName].validate(async (valid) => {
					if (valid && this.inputVerifyCodeFlag) {
						this.$delete(this.user, 'confirmPass')
						this.$delete(this.user, 'inputVerifyCode')
						let user = {id: this.user.id, password: this.user.password}
						const {code} = (await updateUser(user,{id:1}));
						if (code == "200") {
							this.$message({
								message: "修改成功",
								center: true,
								type: 'success',
							})
							window.location.href = "Login.html";
						}
					} else {
						return false;
					}
				});
			},
			async sendVerifyCode(formName) {
				this.$refs[formName].validate(async (valid) => {
					if (valid) {
						if(this.user.loginName!=this.orginalUser.loginName){
							callback(new Error("邮箱不正确!"));
							return false;
						}
						this.isDisable = true;
						this.verifyCode = await sendCode(this.user.email);
						let timer = setInterval(() => {
							this.getTime -= 1;
							if (this.getTime <= 0) {
								clearInterval(timer);
								this.showTime = true;
								this.getTime = 60;
							}
							this.isDisable = false;
						}, 1000);
						console.log(this.verifyCode)
						this.showTime = false;
					} else {
						return false;
					}
				});

			},
			resetForm(formName) {
				this.$refs[formName].resetFields();
			},
			toLogin() {
				window.location.href = "Login.html";
			},
			async validateInputVerifyCode() {
				this.$refs.verifyCodeMsg.style.color="red";

				var value = this.user.inputVerifyCode;
				if (value.length != 6) {
					this.verifyCodeMsg = "请输入6位验证码";
					return false;
				}
				if (value != this.verifyCode) {
					this.verifyCodeMsg = "验证码错误";
					return false;
				}
				const {code} = await validateCode();
				if (code == "500") {
					this.verifyCodeMsg = "验证码已经失效";
					return false;
				}
				this.verifyCodeMsg = "";
				this.inputVerifyCodeFlag = true;
			}

		}
	})
</script>

<!--<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>-->

</html>